<h1>新規従業員の登録</h1>

<% scope = %w[activerecord attributes employee] -%>
<% form_for(@employee) do |f| %>
  <%= f.error_messages %>

  <p>
	<%= f.label :yomi, t(:yomi, :scope => scope) %><br />
    <%= f.text_field :yomi %>
  </p>
  <p>
	<%= f.label :name, t(:name, :scope => scope) %><br />
    <%= f.text_field :name %>
  </p>
  <p>
	<%= f.label :zipcode, t(:zipcode, :scope => scope) %><br />
    <%= f.text_field :zipcode %>
  </p>
  <p>
	<%= f.label :address, t(:address, :scope => scope) %><br />
    <%= f.text_field :address %>
  </p>
  <p>
	<%= f.label :phone, t(:phone, :scope => scope) %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
	<%= f.label :birthday, t(:birthday, :scope => scope) %><br />
	<%= f.date_select :birthday, :start_year => 1950, :use_month_numbers => true %>
  </p>
  <p>
	<%= f.label :branch, t(:branch, :scope => scope) %><br />
    <%= f.select :branch, ["ルートイン釧路支店", "釧路工業技術センター支店"] %>
  </p>
  <p>
	<%= f.label :role, t(:role, :scope => scope) %><br />
    <%= f.select :role, ["パート", "配達員"] %>
  </p>
  <p>
    <%= f.submit '登録' %>
  </p>
<% end %>

<%= link_to '戻る', employees_path %>
