<p>
  <b>Yomi:</b>
  <%=h @employee.yomi %>
</p>

<p>
  <b>Name:</b>
  <%=h @employee.name %>
</p>

<p>
  <b>Zipcode:</b>
  <%=h @employee.zipcode %>
</p>

<p>
  <b>Address:</b>
  <%=h @employee.address %>
</p>

<p>
  <b>Phone:</b>
  <%=h @employee.phone %>
</p>

<p>
  <b>Birthday:</b>
  <%=h @employee.birthday %>
</p>

<p>
  <b>Join on:</b>
  <%=h @employee.join_on %>
</p>

<p>
  <b>Leave on:</b>
  <%=h @employee.leave_on %>
</p>

<p>
  <b>Branch:</b>
  <%=h @employee.branch %>
</p>

<p>
  <b>Role:</b>
  <%=h @employee.role %>
</p>

<p>
  <b>Isurance grade:</b>
  <%=h @employee.isurance_grade %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>